---
- name: "Install | install Singularity"
  tags: [singularity, singularity-install]
  block:
    - name: "Install | check the Singularity version"
      tags: [singularity, singularity-install]
      register: singularity_this
      failed_when: singularity_this.stdout != "singularity version " + singularity_version
      changed_when: false
      ansible.builtin.command:
        cmd: singularity --version

  rescue:
    - name: "Install | clone the Singularity repo"
      tags: [singularity, singularity-install]
      ansible.builtin.git:
        repo: 'https://github.com/hpcng/singularity.git'
        dest: "{{ singularity_src_dir }}"
        version: "v{{ singularity_version }}"

    - name: "Install | prepare the source code" # noqa: no-changed-when
      tags: [singularity, singularity-install]
      environment:
        PATH: "/usr/local/go/bin:{{ ansible_env.PATH }}"
      ansible.builtin.command:
        cmd: "./mconfig"
        chdir: "{{ singularity_src_dir }}"

    - name: "Install | build Singularity" # noqa: no-changed-when
      tags: [singularity, singularity-install]
      environment:
        PATH: "/usr/local/go/bin:{{ ansible_env.PATH }}"
      ansible.builtin.command:
        cmd: "make -C ./builddir"
        chdir: "{{ singularity_src_dir }}"

    - name: "Install | install Singularity system-wide" # noqa: no-changed-when
      tags: [singularity, singularity-install]
      ansible.builtin.command:
        cmd: "make -C ./builddir install"
        chdir: "{{ singularity_src_dir }}"

    - name: "Install | clean up the sources"
      tags: [singularity, singularity-install]
      ansible.builtin.file:
        path: "{{ singularity_src_dir }}"
        state: absent
