---
- name: "Datasources | Provision datasources"
  with_fileglob:
    "{{ grafana_datasource_source_path }}/*.y*ml"
  ansible.builtin.copy:
    src: "{{ grafana_datasource_source_path }}/{{ item | basename }}"
    dest: "{{ grafana_datasource_dir }}/{{ item | basename }}"
    owner: "{{ grafana_user }}"
    group: "{{ grafana_group }}"
    mode: "0660"

- name: "Datasources | Reload provisioned Grafana datasource configuration"
  ansible.builtin.uri:
  # kics-scan ignore-line
    url: "http://127.0.0.1:{{ grafana_port }}/api/admin/provisioning/datasources/reload"
    method: POST
    force_basic_auth: true
    user: "{{ admin_api_username }}"
    password: "{{ admin_api_password }}"
    status_code: 200
