---
- name: "Plugins | Install Grafana plugin: '{{ plugin.name }}'"
  notify: "(Re)start and enable Grafana"
  community.grafana.grafana_plugin:
    name: "{{ plugin.name }}"
    version: "{{ plugin.version }}"
    grafana_plugins_dir: "{{ grafana_plugins_dir }}"
    state: "{{ plugin.state | default('present') }}"
