---
- name: "Configure | Upload local configuration file"
  notify: "(Re)start and enable ipmi_exporter"
  when: ipmi_exporter_local_conf is defined
  ansible.builtin.template:
    src: "{{ ipmi_exporter_local_conf }}"
    dest: "{{ ipmi_exporter_config_dir }}/local.conf"
    owner: root
    group: root
    mode: '0640'

- name: "Configure | Upload web configuration file"
  notify: "(Re)start and enable ipmi_exporter"
  when: ipmi_exporter_web_conf is defined
  ansible.builtin.template:
    src: "{{ ipmi_exporter_web_conf }}"
    dest: "{{ ipmi_exporter_config_dir }}/web.yaml"
    owner: root
    group: root
    mode: '0640'
