---

- name: "Check hbbr version"
  register: rustdesk_hbbr_output
  changed_when: false
  ansible.builtin.command:
    cmd: "/opt/rustdesk-server/amd64/hbbr --version"

- name: "Check if the version of hbbr is the expected one"
  ansible.builtin.assert:
    that: "rustdesk_hbbr_output.stdout == 'hbbr {{ rustdesk_server_version }}'"
    success_msg: "hbbr is installed and is the correct version"
    fail_msg: "hbbr is either not installed or does not match the target version"

- name: "Check hbbs version"
  register: rustdesk_hbbs_output
  changed_when: false
  ansible.builtin.command:
    cmd: "/opt/rustdesk-server/amd64/hbbs --version"

- name: "Check if the version of hbbs is the expected one"
  ansible.builtin.assert:
    that: "rustdesk_hbbs_output.stdout == 'hbbs {{ rustdesk_server_version }}'"
    success_msg: "hbbs is installed and is the correct version"
    fail_msg: "hbbs is either not installed or does not match the target version"
