[Unit]
Description=Rustdesk Signal Server

[Service]
Type=simple
LimitNOFILE=10000
Environment="RUST_LOG_LEVEL=trace"
WorkingDirectory=/opt/rustdesk-server/lib/

ExecStartPre=/bin/sh -c 'rm -rf /opt/rustdesk-server/lib/id_ed25519*'
ExecStartPre=/bin/sh -c 'rm -rf /opt/rustdesk-server/lib/rustdesk-host=*'
ExecStart=/opt/rustdesk-server/amd64/hbbs
ExecStartPost=/opt/rustdesk-server/generate-rustdesk-exe.sh

Restart=on-failure
RestartSec=10
StartLimitIntervalSec=60
StartLimitBurst=2

User=rustdesk
Group=rustdesk

# Security
ProtectSystem=strict
ReadWritePaths=/opt/rustdesk-server/lib/
NoNewPrivileges=true
PrivateTmp=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectKernelTunables=true
ProtectClock=yes
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
