---
- name: "Configure | Copy Prometheus configuration files"
  notify: "(Re)start Prometheus service"
  with_fileglob:
    - "{{ prometheus_config_source_dir }}/*.yml"
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ prometheus_config_dir }}/{{ item | basename }}"
    owner: "prometheus"
    group: "prometheus"
    mode: "0660"

- name: "Configure | Copy alert rules"
  notify: "(Re)start Prometheus service"
  when: prometheus_alertrules_source_dir is defined
  with_fileglob:
    - "{{ prometheus_alertrules_source_dir }}/*.yml"
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ prometheus_config_dir }}/rules/{{ item | basename }}"
    owner: "prometheus"
    group: "prometheus"
    mode: "0660"
