---
- name: Converge
  hosts: all
  vars:
    grafana_users:
      - name: "test"
        user_login: "test"
       # kics-scan ignore-line
        user_password: "test"
        user_email: "test@mail.ru"
        is_admin: false
      - name: "test2"
        user_login: "test2"
        # kics-scan ignore-line
        user_password: "test2"
        user_email: "test2@mail.ru"
        is_admin: true
    grafana_plugins:
      - name: grafana-metricsdrilldown-app
        version: 1.0.0
      - name: grafana-clock-panel
        version: 2.1.8
      - name: aceiot-svg-panel
        version: 0.1.5
    grafana_public_dashboards:
      - name: Node Full Exporter
        id: 1860
        revision: 36
  vars_files:
    - secrets/admin_cred.yml

  roles:
    # kics-scan ignore-block
    - role: genlab.common.grafana
      grafana_version: 11.5.0
      admin_api_username: "{{ grafana.admin_api_username }}"
      admin_api_password: "{{ grafana.admin_api_password }}"
      users: "{{ grafana_users }}"
      plugins: "{{ grafana_plugins }}"
      public_dashboards: "{{ grafana_public_dashboards }}"
      dashboard_source_path: "molecule/default/dashboards"
      datasource_source_path: "molecule/default/datasources"
      grafana_log_dir: "/opt/grafana/data"
      grafana_data_dir: "/opt/grafana/lib"
