external_url "https://{{ gitlab_ce_fqdn }}"

letsencrypt['enable'] = false

nginx['redirect_http_to_https'] = true
nginx['ssl_certificate'] = "{{ gitlab_ce_ssl_dir }}/{{ gitlab_ce_fqdn }}.crt"
nginx['ssl_certificate_key'] = "{{ gitlab_ce_ssl_dir }}/{{ gitlab_ce_fqdn }}.key"

registry['enable'] = false
gitlab_pages['enable'] = false
gitlab_kas['enable'] = false

prometheus['enable'] = false
alertmanager['enable'] = false

puma['worker_processes'] = {{ gitlab_ce_puma_workers }}
sidekiq['concurrency'] = {{ gitlab_ce_sidekiq_concurrency }}

{% if gitlab_ce_smtp_username is defined and gitlab_ce_smtp_password is defined %}
gitlab_rails['smtp_enable'] = true
gitlab_rails['smtp_address'] = "smtp.yandex.ru"
gitlab_rails['smtp_port'] = 587
gitlab_rails['smtp_user_name'] = "{{ gitlab_ce_smtp_username }}"
gitlab_rails['smtp_password'] = "{{ gitlab_ce_smtp_password }}"
gitlab_rails['smtp_domain'] = "genlab.llc"
gitlab_rails['smtp_authentication'] = "login"
gitlab_rails['smtp_enable_starttls_auto'] = true
gitlab_rails['smtp_tls'] = false
gitlab_rails['smtp_pool'] = false

gitlab_rails['smtp_openssl_verify_mode'] = 'peer'

gitlab_rails['gitlab_email_from'] = "{{ gitlab_ce_smtp_username }}"
gitlab_rails['gitlab_email_display_name'] = 'Gitlab'
gitlab_rails['gitlab_email_reply_to'] = "{{ gitlab_ce_smtp_username }}"
{% endif %}