- name: "Create opt script directory and backup directory"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: postgres
    group: postgres
    mode: "0770"
  loop:
    - "/var/backups/postgres1c"
    - "/opt/postgres1c_backup"

- name: "Copy backup script"
  ansible.builtin.template:
    src: "backup.sh.j2"
    dest: "/opt/postgres1c_backup/backup.sh"
    owner: postgres
    group: postgres
    mode: "0770"

- name: "Copy backup service"
  ansible.builtin.copy:
    src: "postgres1c_backup.service"
    dest: "/etc/systemd/system/"
    owner: root
    group: root
    mode: "0770"

- name: "Copy backup timer"
  ansible.builtin.template:
    src: "postgres1c_backup.timer.j2"
    dest: "/etc/systemd/system/postgres1c_backup.timer"
    owner: root
    group: root
    mode: "0770"

- name: "Start backup timer"
  ansible.builtin.systemd_service:
    name: "postgres1c_backup.timer"
    state: started
    enabled: true
