---
services:

  nginx:
    image: nginx:{{ nginx_docker_image_tag }}
    container_name: nginx
    hostname: nginx
    restart: unless-stopped
    network_mode: host
    volumes:
      - "{{ nginx_docker_project_path }}/conf.d/:/etc/nginx/conf.d/:ro"
      - "/var/log/nginx/:/var/log/nginx/:rw"
{% for v in nginx_docker_custom_volumes %}
      - {{ v.from}}:{{v.to}}:{{v.mode | default('rw')}}
{% endfor %}
